@import "../layout/color.scss";

.summary {
  padding: 5vh 7% 3vh 7%;
  letter-spacing: 0.15vh;
  color: #eee;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    width: 120%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33%;
    border-radius: 50%;
  }

  > * {
    position: relative;
    z-index: 1
  }

  h1 {
    margin: auto;
    color: #eee;
    font-size: 3.2vh;
    margin-bottom: 5vh;
    letter-spacing: 0.15vh;
  }

  h2 {
    font-size: 1.8vh;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3vh;
  }

  p {
    margin-bottom: 5vh;
  }
}

@include themed(".summary") {
  background: var(--primary);

  &:before {
    background: var(--primary-tint);
  }

  button {
    color: var(--secondary);
    border: 1px solid var(--secondary);
  }
}
