@import "../layout/color.scss";

.card {
  border-radius: 1vh;
  background: white;
  box-shadow: 0.3vh 0.3vh 1vh #aaa;
}

.colored_bar {
  height: 1.3vh;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.content {
  padding: 2.4vh 1.5vh;

  h3 {
    font-size: 2.4vh;
    font-weight: 500;
    margin-bottom: 2.8vh;
  }

  :global(.ordinal) {
    float: right;
    font-size: 1.5vh;
    position: relative;
    top: 0.9vh;
  }

  p {
    margin-bottom: 2.8vh;
  }

  img {
    width: 100%;
    margin-bottom: 2.8vh;
  }

  button:last-child {
    margin-bottom: 0;
  }
}

@include themed(".card") {
  .colored_bar {
    background: var(--primary);
  }

  h3 {
    color: var(--primary);
  }

  button {
    color: var(--secondary);
    border: 1px solid var(--secondary);

    &:global(.alt1) {
      background: var(--primary);
      border-color: var(--primary);
      color: white;
    }
  }
}
