.card {
  height: 100%;
  border-radius: 1vh;
  background: white;
  overflow: hidden;
}

.content {
  height: 100%;
  overflow-y: auto;
}

.colored_bar {
  height: 1.3vh;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}
