.card {
  height: 100%;
  border-radius: 1vh;
  background: white;
  overflow: hidden;
}

.colored_bar {
  height: 1.3vh;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.content {
  height: 100%;
  overflow-y: auto;
  padding: 2.4vh 1.5vh;

  h3 {
    font-size: 2.4vh;
    font-weight: 500;
    margin-bottom: 2.8vh;
  }

  :global(.ordinal) {
    float: right;
    font-size: 1.5vh;
    position: relative;
    top: 0.9vh;
  }

  p {
    line-height: 1.6;
    letter-spacing: 0.05vh;
    font-size: 1.9vh;
    margin-bottom: 2.8vh;
  }

  img {
    width: 100%;
    margin-bottom: 2.8vh;
  }
}
