.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: grey;
  font-family: Roboto;
  letter-spacing: 0.15vh;
}
