body {
  background: #666;
}

.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto;
  font-size: 2vh;
  line-height: 1.6;
  letter-spacing: 0.1vh;
}
