@import "../../layout/color.scss";

.multi_choice {
  li {
    padding: 1.6vh 2vh;
    margin: 2vh 0;
    display: flex;
    align-items: center;
    box-shadow: 0.2vh 0.2vh 0.2vh #ccc;
    cursor: pointer;
  }

  .radio {
    display: inline-block;
    width: 2.7vh;
    height: 2.7vh;
    border-radius: 50%;
    background: white;
    margin-right: 2.7vh;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transform: scale(0.65);
      border-radius: 50%;
    }
  }

  .selected {
    .radio:before {
      background: var(--black-primary);
    }
  }
}

@include themed(":global(.card)") {
  li {
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 1vh;

    .radio {
      border: 1px solid var(--primary);
    }

    &.selected {
      background: var(--primary);
      color: white;
    }
  }
}
