.card_layout {
  height: 100%;
  padding: 5vh 0 4vh 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  h1 {
    color: #eee;
    text-align: center;
    font-size: 3.2vh;
    margin-bottom: 2.5vh;
  }

  .content {
    flex: 1;
  }
}
