.card_layout {
  height: 100%;
  padding-top: 5vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    color: #eee;
    text-align: center;
    font-size: 3.2vh;
    margin-bottom: 2.5vh;
    letter-spacing: 0.15vh;
  }

  .content {
    flex: 1;

    &:after {
      content: "";
      display: block;
      height: 4vh;
    }
  }
}
