@import "../layout/color.scss";

.card_layout {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  background: #ebebeb;

  &::-webkit-scrollbar {
    display: none;
  }

  .content {
    flex: 1;
  }

  button {
    width: 100%;
    background: white;
    font-size: 1.7vh;
    padding: 2vh 0;
    border-radius: 1vh;
    font-weight: 500;
    letter-spacing: 0.05vh;
    margin-bottom: 3vh;
    box-shadow: 0.2vh 0.2vh 0.7vh rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: 1px solid #b6646b;

    &:global(.alt1) {
      text-transform: uppercase;
    }

    &:focus {
      outline: none;
    }
  }
}
