.gallery {
  overflow-x: hidden;
  white-space: nowrap;
  background: #ebebeb;
  padding: 4vh 0;
}

.item {
  width: 86%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;

  &:first-child {
    margin-left: 7%;
  }

  &:last-child {
    margin-right: 7%;
  }
}

.inner {
  margin: 0 -1.5%;
}
