.gallery {
  overflow-x: hidden;
  white-space: nowrap;
  background: #ebebeb;
  padding: 4vh 0;
}

.item {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;

  &:first-child {
    margin-left: 10%;
  }

  &:last-child {
    margin-right: 10%;
  }
}
