.gallery {
  height: 70vh;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: #ebebeb;
  padding: 4vh 0;

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.item {
  width: 80%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;

  &:first-child {
    margin-left: 10%;
  }

  &:last-child {
    margin-right: 10%;
  }
}

.inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
